<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Job历史</title>
    #parse("/rest/header.vm")

</head>
<body data-spy="scroll" data-target=".navbar">
<div class="container">
    <h2>Spark 任务管理</h2>
</div>
<div class="container">

    <table class="table  table-striped table-bordered table-hover " id="showTable">

        <thead>
        <tr>
            <th>序号</th>
            <th>应用号</th>
            <th>应用</th>
            <th>运行状态</th>
            <th>启动</th>
            <th>监控</th>
            <th>监控操作</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        #foreach( $c in $result )
        <tr>
            <td>-</td>
            <td><a href="http://${c.app.url}/cluster/app/${c.app.applicationId}">${c.app.applicationId}</a></td>
            <td>
                #if($null.isNull($c.app.parentApplicationId))
                <a href="http://${c.app.url}/cluster/app/${c.app.parentApplicationId}">${c.app.parentApplicationId}
                    #end
                </a>
            </td>
            <td><a href="/app/spark-submit.html?id=${c.app.id}">${c.className}</a></td>
            <td>


                <button #if( ! $c.running ) class="btn btn-danger btn-lg" #else class="btn btn-success btn-lg" #end>
                    ${c.state}
                </button>

            </td>
            <td>
                $!c.startOperate
            </td>
            <td>
                #if( ! $c.watch)
                <button class="btn btn-danger btn-lg">
                    无监控
                </button>
                #end

                #if($c.watch)
                <button class="btn btn-success btn-lg">
                    监控中
                </button>
                #end
            </td>
            <td>
                #if( ! $c.watch )
                <a href="/spark_monitor.html?id=${c.app.id}&command=start">开启监控</a>
                #end

                #if($c.watch)
                <a href="/spark_monitor.html?id=${c.app.id}&command=stop">关闭监控</a>
                </button>
                #end
            </td>
            <td>
                $!c.deleteOperate
            </td>
        </tr>
        #end

        </tbody>

    </table>

    <script>


    </script>
</body>
</html>