<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Jar包上传</title>
    #parse("/rest/header.vm")
    <style type="text/css">
                .material-switch > input[type="checkbox"] {
                    display: none;
                }

                .material-switch > label {
                    cursor: pointer;
                    height: 0px;
                    position: relative;
                    width: 40px;
                }

                .material-switch > label::before {
                    background: rgb(0, 0, 0);
                    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
                    border-radius: 8px;
                    content: '';
                    height: 16px;
                    margin-top: -8px;
                    position:absolute;
                    opacity: 0.3;
                    transition: all 0.4s ease-in-out;
                    width: 40px;
                }
                .material-switch > label::after {
                    background: rgb(255, 255, 255);
                    border-radius: 16px;
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
                    content: '';
                    height: 24px;
                    left: -4px;
                    margin-top: -8px;
                    position: absolute;
                    top: -4px;
                    transition: all 0.3s ease-in-out;
                    width: 24px;
                }
                .material-switch > input[type="checkbox"]:checked + label::before {
                    background: inherit;
                    opacity: 0.5;
                }
                .material-switch > input[type="checkbox"]:checked + label::after {
                    background: inherit;
                    left: 20px;
                }
                /* layout.css Style */
                .upload-drop-zone {
                  height: 200px;
                  border-width: 2px;
                  margin-bottom: 20px;
                }

                /* skin.css Style*/
                .upload-drop-zone {
                  color: #ccc;
                  border-style: dashed;
                  border-color: #ccc;
                  line-height: 200px;
                  text-align: center
                }
                .upload-drop-zone.drop {
                  color: #222;
                  border-color: #222;
                }


    </style>

    <script>
function($) {


    // UPLOAD CLASS DEFINITION
    // ======================

    var dropZone = document.getElementById('drop-zone');
    var uploadForm = document.getElementById('js-upload-form');

    var startUpload = function(files) {
        console.log(files)
    }

    uploadForm.addEventListener('submit', function(e) {
        var uploadFiles = document.getElementById('js-upload-files').files;
        e.preventDefault()

        startUpload(uploadFiles)
    })

    dropZone.ondrop = function(e) {
        e.preventDefault();
        this.className = 'upload-drop-zone';

        startUpload(e.dataTransfer.files)
    }

    dropZone.ondragover = function() {
        this.className = 'upload-drop-zone drop';
        return false;
    }

    dropZone.ondragleave = function() {
        this.className = 'upload-drop-zone';
        return false;
    }

}(jQuery);


    </script>

</head>
<body>
<div class="container">
    #parse("/rest/menu.vm")
</div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">

            <!-- Standar Form -->
            <h4>Select files from your computer</h4>
            <form ENCTYPE="multipart/form-data" method="post" action="/form/upload" id="js-upload-form">
                <div class="form-inline">
                    <div class="form-group">
                        <input type="file" name="files[]" id="js-upload-files" multiple>
                    </div>
                    <input name="redirect" type="hidden" value="/submit_job.html"/>
                    <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">上传</button>
                </div>
            </form>

            <!-- Drop Zone -->
            <h4>Or drag and drop files below</h4>
            <div class="upload-drop-zone" id="drop-zone">
                把文件拖拽到这里
            </div>

        </div>
    </div>
</div>

</body>
</html>