<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>任务管理</title>
    #parse("/rest/header.vm")
</head>
<body>
<div class="container">
    #parse("/rest/menu.vm")
</div>
<div class="container" id="app">
    <table class="table  table-striped table-bordered table-hover " id="showTable">

        <thead>
        <tr>
            <th>序号</th>
            <th>应用号</th>
            <th>父应用号(失败)</th>
            <th>应用<input type="text" class="search" placeholder="查找" v-on:keyup.enter="filter_app_name"
                         v-model="search_value"></th>
            <th>运行状态</th>
            <th>启动</th>
            <th>监控</th>
            <th>监控操作</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        #foreach( $row in $result )
        <tr>
            #foreach( $column in $row )
            <td>$!column</td>
            #end
        </tr>
        #end

        </tbody>

    </table>
</div>
<script type="application/javascript">
        new Vue({
          el: '#app',
          data: {
            search_value: ''
          },
          methods: {
                filter_app_name: function (event) {
                    window.location= '/jobs.html?search='+this.search_value
                }
              }
        })

</script>
</body>
</html>