<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>任务提交</title>
    #parse("/rest/header.vm")
    <style type="text/css">
                .material-switch > input[type="checkbox"] {
                    display: none;
                }

                .material-switch > label {
                    cursor: pointer;
                    height: 0px;
                    position: relative;
                    width: 40px;
                }

                .material-switch > label::before {
                    background: rgb(0, 0, 0);
                    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
                    border-radius: 8px;
                    content: '';
                    height: 16px;
                    margin-top: -8px;
                    position:absolute;
                    opacity: 0.3;
                    transition: all 0.4s ease-in-out;
                    width: 40px;
                }
                .material-switch > label::after {
                    background: rgb(255, 255, 255);
                    border-radius: 16px;
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
                    content: '';
                    height: 24px;
                    left: -4px;
                    margin-top: -8px;
                    position: absolute;
                    top: -4px;
                    transition: all 0.3s ease-in-out;
                    width: 24px;
                }
                .material-switch > input[type="checkbox"]:checked + label::before {
                    background: inherit;
                    opacity: 0.5;
                }
                .material-switch > input[type="checkbox"]:checked + label::after {
                    background: inherit;
                    left: 20px;
                }



    </style>


</head>
<body>
<div class="container">
    #parse("/rest/menu.vm")
</div>
<div class="container" id="app">
    <form action="/submit_job" id="slaveForm" method="post" class="form-horizontal">
        <div class="panel panel-default ">
            <div class="panel-heading">依赖jar包勾选</div>

            $jarDependencies

            #foreach( $sub_params in $params )
            <div class="panel panel-default ">
                <div class="panel-heading">$sub_params.name</div>

                #foreach( $c in $sub_params.value)
                <div name="$c.parentName" class="form-group #if($helper.isNotEmpty($c.parentName)) hidden #end" >
                    <label class="col-sm-2 control-label" for="suffix_${c.name}" title="${c.desc}">
                        ${c.label}
                    </label>

                    <div class="col-sm-10">
                        <div class="col-sm-5">
                            ${c.value}
                        </div>
                    </div>

                </div>
                #end
            </div>

            #end
            提交前执行脚本：<textarea name="beforeShell"></textarea><br/>
            提交后执行脚本：<textarea name="afterShell"></textarea><br/><br/>
            <input type="hidden" name="jarPath" value="${jarPath}"/>
            <div class="col-sm-4 pull-right">
                <input type="submit" class="btn btn-primary  form-control" value="提交"/>
            </div>
        </div>
    </form>
    <br/><br/>
</div>

    <script type="application/javascript">
       var vm =  new Vue({
            el: '#app',
            data: {
            },
            methods: {
              "toggle_child":function(event){
                console.log(event.target.value)
                if(event.target.value=='true'){
                    $('div[name="'+event.target.name+'"]').removeClass("hidden")
                }else {
                    $('div[name="'+event.target.name+'"]').addClass("hidden")
                }


              }
            }
        })
</script>
</body>
</html>