<!DOCTYPE html>
<html lang="UTF-8">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Spark-Sql查询工具</title>

		<meta name="description" content="Dynamic tables and grids using jqGrid plugin" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="/ace/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/ace/css/font-awesome.min.css" />

		<!-- page specific plugin styles -->
		<link rel="stylesheet" href="/ace/css/jquery-ui.min.css" />
		<link rel="stylesheet" href="/ace/css/datepicker.css" />
		<link rel="stylesheet" href="/ace/css/ui.jqgrid.css" />

		<!-- text fonts -->
		<link rel="stylesheet" href="/ace/css/ace-fonts.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="/ace/css/ace.min.css" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="/ace/css/ace-part2.min.css" />
		<![endif]-->
		<link rel="stylesheet" href="/ace/css/ace-skins.min.css" />
		<link rel="stylesheet" href="/ace/css/ace-rtl.min.css" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="/ace/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="/ace/js/ace-extra.min.js"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="/ace/js/html5shiv.min.js"></script>
		<script src="/ace/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body class="no-skin">
		<!-- #section:basics/navbar.layout -->
		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>


			<!-- /section:basics/sidebar -->
			<div class="main-content">			
				<!-- /section:basics/content.breadcrumbs -->
				<div class="page-content">

					<!-- /section:settings.box -->
					<div class="page-content-area">
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="widget-box ">
									<div class="widget-body">
										<div class="widget-main">
											<!-- PAGE CONTENT BEGINS -->
											<form class="form-inline" action="/runtime/spark/sql" method="post" target="_blank">
												<label class="inline">
													<span class="lbl">查询语句：</span>	
													<textarea class="form-control" name="sql" placeholder="Default Text" rows="8" cols="130"></textarea>	
												</label>
												<label class="inline">
													<span class="lbl">结果类型：</span>
													<select class="form-control" name="resultType">
														<option value="html">html</option>
														<option value="json">json</option>
														<option value="csv">csv</option>
													</select>
												</label>
												<button type="button" class="btn btn-info btn-sm">
													<i class="ace-icon fa fa-key bigger-110"></i>提交
												</button>											
											</form>	
											
											<form class="form-inline">
												<label class="inline">
													<span class="lbl">设定表名：</span>									
													<input type="text" class="form-control" name="tablename" />
												</label>
												<label class="inline">
													<span class="lbl">文件路径：</span>										
													<input type="text" class="form-control" name="tablepath" />
												</label>
												<label class="inline">
													<span class="lbl">加载方式：</span>										
													<select class="form-control" name="loader_clzz">
														<option value="org.elasticsearch.spark.sql">elasticsearch</option>
														<option value="parquet">parquet</option>
														<option value="org.apache.spark.sql.execution.datasources.hdfs">hdfs</option>
													</select>
												</label>
												<label class="inline">
													<span class="lbl">加载参数：</span>										
													<textarea class="form-control" name="loader_param" cols="50" rows="5"/></textarea>
												</label>
												<button type="button" class="btn btn-info btn-sm">
												  <i class="ace-icon fa fa-plus-circle purple"></i>
												</button>
												<button type="button" class="btn btn-info btn-sm">
												  <i class="ace-icon fa fa-trash-o red"></i>
												</button>
											</form>
											
										</div>
									</div>
								</div>								
								
							</div>
						</div>
					</div><!-- /.page-content-area -->
				</div><!-- /.page-content -->
			</div><!-- /.main-content -->

			<div class="footer">
				<div class="footer-inner">
					<!-- #section:basics/footer -->


					<!-- /section:basics/footer -->
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='/ace/js/jquery.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='/ace/js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='/ace/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="/ace/js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->
		<script src="/ace/js/date-time/bootstrap-datepicker.min.js"></script>
		<script src="/ace/js/jqGrid/jquery.jqGrid.min.js"></script>
		<script src="/ace/js/jqGrid/i18n/grid.locale-cn.js"></script>

		<!-- ace scripts -->
		<script src="/ace/js/ace-elements.min.js"></script>
		<script src="/ace/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
				jQuery(function($) {
					var eTemplate=$(".widget-main");
					var templateFormContainer=$(".form-inline+.form-inline");
					var eBtns=templateFormContainer.find("button");
					$(eBtns[0]).click(function(){
						eTemplate.append(templateFormContainer.clone(true));
					});
					$(eBtns[1]).click(function(){
						if(eTemplate.find(".form-inline").length>2) $(this).closest(".form-inline").remove();
					});		

					var submitForm=$(".form-inline")[0];
					$("button",submitForm).click(function(){
						var jform=$(submitForm);
						$(":input[type='hidden']",submitForm).each(function(k,v){v.remove()});
						$(".form-inline+.form-inline").each(function(k,v){
							var tablename=$(":input[name='tablename']",v).val();
							var tablepath=$(":input[name='tablepath']",v).val();
							var loader_clzz=$(":input[name='loader_clzz']",v).val();
							var loader_param=$(":input[name='loader_param']",v).val();
		
							if(loader_param){
								var params= loader_param.split(";");
								if(params.length>0)
								$.each(params,function(k1,v1){
									var param=v1.split("=");
									if(param && param.length==2){
										jform.append($("<input type=\"hidden\" name=\"loader_param."+tablename+"."+param[0]+"\" value=\""+param[1]+"\"/>"));
									}
								})
							}
							jform.append($("<input type=\"hidden\" name=\"tableName."+tablename+"\" value=\""+tablepath+"\"/>"));
							jform.append($("<input type=\"hidden\" name=\"loader_clzz."+tablename+"\" value=\""+loader_clzz+"\"/>"));
						});
						submitForm.submit();
					});					
					
				});							
		</script>
	</body>
</html>
